<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      rel="shortcut icon"
      href="public/imgs/favicon.ico"
      type="image/x-icon" />

    <!--fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/menu.css" />
    <link rel="stylesheet" href="../public/css/home.css" />
    <title>Detalles de la Obra</title>
  </head>
  <body>
    <header class="header">
      <a href="../" class="logo">
        <img src="../public/imgs/logo.png" alt="Logo" />
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"
        ><span class="navicon"></span
      ></label>
      <ul class="menu">
        <li>
          <a class="menu-item" href="/obras"> Obras </a>
        </li>
      </ul>
    </header>

    <div class="container" style="margin-top: 80px !important">
      
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-6 mb-5">
          <h3 class="text-center">
             <a href="/obras">
              <i class="bi bi-arrow-left-circle"></i>
            </a>
            Actualizar Obra
          </h3>
          <form action="/actualizar-obra/<%= obra.id_obra %>" method="POST">
            <div class="mb-3">
                <label for="nombre_obra" class="form-label">Obra</label>
                <input
                    type="text"
                    name="nombre_obra"
                    class="form-control"
                    value="<%= obra.nombre_obra %>"
                />
            </div>
            <div class="mb-3">
                <label for="descripcion_obra" class="form-label">Descripción Obra</label>
                <input
                    type="text"
                    name="descripcion_obra"
                    class="form-control"
                    value="<%= obra.descripcion_obra %>"
                />
            </div>
            <div class="mb-3">
              <label for="diva_asignada">Encargado</label>
              <select name="diva_asignada" class="form-select">
                  <option value="">Seleccionar Encargado de Obra</option>
                  <% divas.forEach(function(diva) { %>
                      <option value="<%= diva.id_usuario %>" 
                          <% if (obra.diva_asignada == diva.id_usuario) { %> selected <% } %> > 
                          <%= diva.nombre_usuario %>
                      </option> 
                  <% }); %>
              </select>
          </div>
            <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
                <button class="btn btn-primary" type="submit">
                    Actualizar Obra
                </button>
            </div>
        </form>
                </div>
      </div>
    </div>
    <%- include('../includes/scripts') %>
  </body>
</html>
